<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact_list.name %>
</p>

<% @contact_list.contact_list_mappings.each do |contact_list_mapping| %>
    <li ><%= link_to contact_list_mapping.contact.name, contact_path(contact_list_mapping.contact) %></li>
<% end %>